.tabs-list {
    display: grid;
    grid-auto-columns: min-content;
    grid-auto-rows: min-content;
    row-gap: 5px;
}

.tabs-list .tabs-list__tab {
    border-radius: 10px;
}

.tabs-list .tabs-list__tab_active {
    background-color: rgb(63,81,181);
    color: white;
}

.tabs-list .tabs-list__tab_active:hover {
    background-color: rgb(63,81,181);
}