.top-panel .container {
    display: grid;
    grid-template:
        "title search ... profile"
        /auto  auto   1fr auto;
    column-gap: 20px;
}

.top-panel .top-panel__title {
    grid-area: title;
}

.top-panel .top-panel__title_active {
    cursor: pointer;
}

.top-panel .top-panel__search {
    grid-area: search;
}

.top-panel .top-panel__profile {
    grid-area: profile;
}