.login-page {
    margin-top: 75px;
    justify-content: center;
    display: grid;
    grid-template:
        "sign     sign     sign     sign  sign  "
        "label    label    label    label label "
        "...      ...      ...      ...   ...   " 20px
        "...      ...      ...      sep   ...   " 15px
        "form     form     form     sep   google"
        "register register register sep   google"
        /120px    120px    120px    2px   auto;
    row-gap: 5px;
    column-gap: 15px;
}

.login-page .sign {
    grid-area: sign;
    justify-self: center;
    background-color: rgb(220, 20, 60)
}

.login-page .label {
    grid-area: label;
    justify-self: center;
}

.login-page .form {
    grid-area: form;
    display: grid;
    row-gap: 10px;
}

.login-page .register {
    grid-area: register;
}

.login-page .sep {
    grid-area: sep;
    border: 1px solid rgb(163, 163, 163);
    width: 0;
}

.login-page .google {
    grid-area: google;
    align-self: center;
}