.main-page {
    display: grid;
    grid-template:
        "header"
        "content";
    row-gap: 50px;
}

.main-page .header {
    grid-area: header;
}

.main-page .content {
    grid-area: content;
}

.pagination {
    display: grid;
    justify-items: center;
}